@charset "utf-8";

/* 此样式为整个系统的公共样式 */

html, body {
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(170,166,161);
    min-width: 1200px;
    background-color: white;
    font-size: 14px;
}
.orange-color{
    color:orange;
}
.border-top{
    border-top: solid 1px #e4e4e4;
}
.border-bottom{
    border-bottom: solid 1px #e4e4e4;
}
.black{
    color:black;
}
.small-title{
    color:black;
    font-size:20px;

}
.circle-menu{
    bottom: 25px;
    left: 50%;
    margin-left: -48px;
}
.login-form .prince-arrow{
       right: 3px;
       top: 1px;
}
.login-form .shi-arrow{
       right: 156px;
       top: 1px;
}

.arrow-down{
    z-index: 10;
    width: 37px;
    background: url(../images/arrow-down.png) white no-repeat;
    position: absolute;
    height: 34px;
}
.circle-menu a:hover,.circle-menu .active{
    background-color:rgb(69,61,51);
}
.orange{
    color:rgb(255,122,44);
    text-align: center;
    padding: 20px 0 10px;
}
.font-size-16{
    font-size: 18px;
}
.circle-menu a{
    display: inline-block;
    width: 8px;
    margin-right: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: rgb(137, 128, 106);
}
.margin-right-10{
    margin-right: 10px;
}
.padding10{
    padding-right:10px;
    padding-left:10px;
}
.padd-top10{
    padding-top:10px;
}
.padd-top10-bottom10{
    padding-top:10px;
    padding-bottom: 10px;
}
ul.clearfix,p,ul,h2,ol,h3{
    padding: 0;
    margin: 0;
}
.white{
    color:white;
}
.red-btn{
     display: inline-block;
     width: 85px;
     background-color: red;
     height: 30px;
     line-height: 30px!important;
     color:white!important;
     margin:10px 20px 10px 0;
     border-radius: 5px;
    text-align: center;

 }
.orange-btn{
    display: inline-block;
    width: 85px;
    background-color: orange;
    height: 30px;
    line-height: 30px!important;
    color:white!important;
    border-radius: 5px;
    text-align: center;
    margin:10px 0px 10px 0;
}
.cube{
    height: 4px;
    width: 4px;
    background-color: rgb(142,142,142);
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 3px;
}
img {
    border:none;
    vertical-align: middle;
}
/* 分页样式 */
.pagination {
    margin-top: 27px;
    padding: 35px 0 55px 0px;
    display: block;
    text-align: center;
}
.pagination > div{
    display:inline-block;
}
.pagination  li{
    display: inline-block;
    font-size: 14px;
}
.pagination .left-move{
    background:url(../images/left-move.png) no-repeat center center;
}
.pagination .right-move{
    background:url(../images/right-move.png) no-repeat center center;
}

.pagination .move,.pagination .right-move:hover,.pagination .left-move:hover{
    background-color: rgba(243, 229, 229, 0.36);
}
.pagination .move{
    margin-left:20px;
    /* vertical-align:middle; */
    height: 34px;
    line-height: 35px;
}

.pagination li a {
    display: inline-block;
    width: 37px;
    text-align: center;
    height: 35px;
    line-height: 40px;
    border: solid 1px #d4d4d4;
    font-size: 13px;
    margin-right: 14px;
}
.pagination .active a,.pagination li a:hover{
    color: rgb(0, 190, 130);
    border:solid 1px  rgb(0, 190, 130);
}

.pagination li input{
    width: 37px;
    height: 32px;
    vertical-align: middle;
    outline: none;
    margin-top: 0;
    text-align: center;
    border: solid 1px #e4e4e4;
    margin: 0 11px;
}

.display-inline{
    display: inline-block;
}
.display-block{
    display:block;
}
.font-size-12{
    font-size: 12px;
}
.border-none{
    background: url(../images/灰色+.png) no-repeat 11px 5px!important;
    /* line-height: 22px!important; */
    border: none!important;
    padding-right: 0px!important;
    padding-bottom: 0px!important;
    padding-top: 0px!important;
}
.border-none:hover{
    background: url(../images/绿色+.png) no-repeat 11px 5px!important;
}
.common-black{
    font-size: 20px;
    color: black;
    padding-right: 12px;
    font-family: "微软雅黑";
}
.more{
    line-height: 24px;
    height: 24px;
    background: url(../images/灰色+.png) no-repeat 11px 9px;
    float: right;
    border: solid 1px rgb(224, 222, 220);
    padding: 3px 12px 3px 32px;
    font-size: 13px;
}

.more:hover{
    color:rgb(0,193,130);
    background: url(../images/绿色+.png) no-repeat 11px 9px;
}

.more-no-border{
    border:none;
}
.border-line {
    height: 1px;
    border-bottom: solid 1px #e4e4e4;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}
ul li{
    list-style: none;
}
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}
a:hover{
    color:rgb(0,190,130);
}
a {
    border: none;
    color: rgb(170,166,161);
    text-decoration: none;
}
.red{
    color: red;
}
.green-hover{
    color: rgb(0,193,130);
}
.gray-color{
    color:rgb(170,166,161);
}
.d-center-all {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    font-size: 0;
    *zoom: 1;
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}
.header{
    color: rgb(170,166,161);
    border-bottom: solid 1px rgb(226, 222, 222);
}

.login-form{
    text-align: center;
    background-color: white;
    right: 126px;
    top: 66px;
    border: solid 1px rgb(218, 215, 215);
    z-index: 100;
    width: 320px;
    height: 340px;
    box-shadow: 0px 2px 2px 0px;
}
.login-form input[type=button]{
    width: 100%;
    border:none;
    height: 45px;
    outline: none;
    cursor: pointer;
    background-color: rgb(255,122,44);
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.login-form .desc{
    padding: 0px 0 6px;
}
.login-form > div {
    margin: 21px 15px;
    border: solid 1px #e4e4e4;
}
.login-form .prince-input{
    margin-right: 16px;
}
.login-form .prince-input,.login-form .shi-input{
   width: 133px;
   border: solid 1px #e4e4e4;
   outline: none;
   height: 36px;
}

.login-form > div input {
    height: 31px;
    width: 230px;
    border: none;
    outline: none;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.nav>li{
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
   
}
.nav>li:not(:last-child) {
    padding-right: 10px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 0px 0 0 20px;
    font-size: 12px;
}

.nav>li>a:hover,.nav>li>a:focus {
   color: rgb(0,193,130);
}
.header .register{
    padding-left: 0;
    padding-right: 12px;
}
.header .designer-center{
   background: url(../images/设计师中心.png) no-repeat left center;
}
.header .help-center{
    background: url(../images/帮助中心.png) no-repeat no-repeat left center;
}
.header .guide-center{
    background: url(../images/网站导航.png) no-repeat no-repeat left center;
}
.navbar ul li:not(:first-child) {
    margin-left: 26px;
}
.navbar > div{
    display: inline-block;
}
.navbar  .jiaju-arrow{
    left: 63px;
    top: 0px;
    height: 38px;
    width: 30px;
}
.navbar .logo{
    width: 400px;
    height: 80px;
    background: url(../images/logo.png) no-repeat no-repeat left center;
}

.navbar .search {
    top: 16px;
    left: 410px;
    width: 500px;
    height: 38px;
    border-radius: 5px;
    border: solid 2px rgb(0,193,130);
}
.navbar-menu{
    border-bottom: solid 1px rgb(226, 222, 222);
}
.navbar-menu img {
    bottom: 0px;
    right: 40px;
}
 .navbar-menu li a:hover,.navbar-menu .active a{
     color: rgb(0,193,130);
 }
 .navbar-menu .active{
       color: rgb(0,193,130);
      border-bottom:solid 2px rgb(0,193,130);
 }
 .navbar-menu li {
    float: left;
    display: block;
    padding: 0 40px 0;
    line-height: 55px;
}
.navbar-menu li a {
    font-size: 20px;
    color: black;
    font-family: "微软雅黑";
}
 .navbar .search-btn{
     float:right;
     color: white;
     background-color: rgb(0,193,130);
     /* top: 7px; */
     font-size: 18px;
     line-height: 38px;
     padding: 0px 21px;
 }
.navbar form{
    height: 100%;
}


.navigate{
    border-bottom: solid 1px #e6e6e6;
    padding-bottom: 15px;
}
.navigate span{
    font-size: 13px;
}
.navigate .menu{
    display: inline-block;
    margin-left:100px;
}
.navigate .menu a{
    padding: 0 6px 19px;
    font-size: 13px;
    color: #6B6767;
    margin-right: 15px;
}
.navigate .menu a:hover{
    color:rgb(0,193,130);
}
.navigate .menu a:hover, .navigate .menu .active{
    color:rgb(0,193,130);
    background: url(../images/green-line.png) repeat-x left bottom;
}
.navigate p{
    display: inline-block;
    margin-right: 10px;
    color: black;
    font-family: "微软雅黑";
    font-size: 22px;
    font-weight: bold;
}


.navbar form select{
     width: 90px;
     height: 100%;
     border: none;
     outline: none;
     float: left;
     margin-right: 10px;
 }
.navbar .search-input{
    float: left;
    width: 299px;
    outline: none;
    border: none;
    border-left: solid 1px #F3EEEE;
    padding-left: 10px;
    height: 36px;
    line-height: 35px;
    /* border: solid; */
}
.banner {
    /* border-top:solid 1px  rgb(226, 222, 222); */
}
.banner .menu-img img{
    height: 500px;
    width: 100%;
}
.services{
    padding: 25px 0;
    font-weight: bolder;
}
.services .title{
      width: 600px;
      font-size: 24px;
      margin: 0 auto;
      font-weight: bolder;
      /* font-family: "微软雅黑"; */
  }


.services:after{
    right: 13px;
}

.services:before{
    /* left: 20px; */
}
.services:after, .services:before {
    content: ' ';
    position: absolute;
    height: 0;
    line-height: 0;
    border-top: 1px solid #e6e6e6;
    width: 285px;
    top: 50%;
    
}
.services-detail-guide {
    padding: 0  0 50px 0;
}
.services-detail-guide .title{
    font-size: 15px;
    color: #0A0101;
    font-weight: bold;
}
.services-detail-guide > div{
    float: left;
    display: inline-block;
    width: 251px;
    /* float: left; */
}

.services-detail-guide > div{
    padding: 0 0 0 60px;
}
.services-detail-guide > div:first-child{
    padding: 0;
}
.services-detail-guide a{
    font-size: 13px;
    padding: 4px 7px;
    color: rgb(0,193,130);
    margin-left: -7px;
}
.services-detail-guide a:hover,.services-detail-guide .active{
    color: white;
    background-color: darkorange;
}
.services-detail-guide a i{
    width: 20px;
    height: 10px;
    display: inline-block;
    background: url("../images/立即了解更多.png") no-repeat right center;
}

.services-detail-guide .active i,.services-detail-guide a:hover i{
    background: url("../images/更多.png") no-repeat right center;
}
.services-detail-guide .desc{
    color: rgb(170,166,161);
    font-size: 13px;
    padding: 5px 0 23px;
}
.services-detail-guide .amount-desc{
    width:100%;
    height: 140px;
}
.services-detail-guide .amount{
    font-size: 60px;
    color: rgb(154, 150, 145);
    left: 0px;
    top: 41px;
    position: absolute;
    z-index: 10;
}

.services-detail-guide .amount-img{
    position: absolute;
    right: 37px;
    width: 130px;
    height: 130px;
}
.design-case ul li ,.designers-recommend ul li , .many-product ul li , .product-guide ul li, .cooperate-list ul li {
    float: left;
}
.design-case .cases{
    padding-top: 30px;
    margin-right: -26px;
}
.design-case .cases .list-one img {
    width: 280px;
    height: 280px;
}
.design-case  .list-one li,.design-case  .list-two li{
    padding-right: 26px;
}
.design-case  .list-two li:last-child,.design-case  .list-one li:last-child{
    /* padding-right: 0; */
}

.design-case .list-two .big-img{
    width: 586px;
    height: 430px;

}
.design-case .list-two .right-top-img img{
     width: 280px;
    height: 280px;
    margin-bottom:26px;
}
.design-case .list-two .right-bottom-img img{
    width:586px;
    height: 282px;
}
.design-case .list-two .right-top-img img:not(:last-child){
     margin-right:26px;
}

.design-case .list-two .desc{
    width: 585px;
    margin-top: -3px;
    margin-left: 1px;
    color: white;
    padding-top: 42px;
    height: 160px;
    box-sizing: border-box;
    background-color: rgb(26,152,174);
    padding-left: 28px;
}
.designers-recommend .menu{
    margin-left:55px;
}
.design-case .list-two .desc h1{
    padding-bottom: 10px;
}
.design-case .list-two .desc p{
    padding-left: 7px;
}
.design-case .tools-list{
    width: 38px;
    right: -37px;
    bottom: 87px;
    border: solid 1px  rgb(224, 222, 220);
    border-left: none;
}
.design-case .tools-list ul li a{
    box-sizing: border-box;
    display: inline-block;
    width:38px;
    height: 37px;
    background-image: url(../images/user_operate.png);
}
.design-case .tools-list ul li:first-child a{
    background-position: -10px -1px;
}
.design-case .tools-list ul li:last-child a{
    background-position: -10px -117px;
    border-top: solid 1px rgb(224, 222, 220);
}
.design-case .tools-list ul .two a{
    background-position: -10px -186px;
}
.design-case .tools-list ul .three a{
    background-position: -10px -222px;
}
.design-case .tools-list ul li:first-child a:hover{
    background-position: -81px -1px;
}
.design-case .tools-list ul li:last-child a:hover{
    background-position: -81px -117px;
}

.design-case .tools-list ul .two  a:hover{
    background-position: -81px -186px;
}
.design-case .tools-list ul .three  a:hover{
    background-position: -81px -222px;
}
.designers-recommend, .design-case,.many-product,.lastest-news {
    padding-bottom: 45px;
}


.designers-recommend .content{
    padding-top:30px;
}
.designers-recommend .content > div {
    height: 450px;
}
.designers-recommend  .left-area{
    width: 406px;
    float: left;
    padding-right: 40px;
}
.designers-recommend ul{
   padding-top: 40px;
}
.designers-recommend ul li{
  margin-right: 21px;
}
.designers-recommend  .right-area{
    width: 780px;
    float: right;
    margin-right: -27px;
}
.designers-recommend  .right-area ul li  img{
    width: 122px;
    height: 122px;
    padding: 10px 6px 20px;
}

.designers-recommend .introduce{
    float: left;
    width: 120px;
    height: 100%;
    background-color: rgb(35,190,133);
}
.designers-recommend .personal-info{
    float:right;
}
.designers-recommend .personal-info .photo{
    width: 286px;
    height: 294px;
    margin-top: -1px;
}
.designers-recommend .personal-info .desc-work{
    margin-top: -4px;
    background-color: rgb(242,240,238);
    margin-right: 1px;
    height: 162px;
}
.designers-recommend .personal-info .desc-work p{
    padding-top: 10px;
    font-size: 14px;
    padding-left: 13px;
}
.designers-recommend .personal-info .desc-work p:first-child{
    padding-top: 26px;
    padding-left: 15px;
    margin-bottom: 15px;
}
.designers-recommend .progress{
    height: 4px;
    background-color: rgb(225,225,225);
    margin: 31px 34px 10px 10px;
    box-sizing: border-box;
}
.designers-recommend .progress .progress-bar{
    height: 100%;
    background-color: rgb(0,193,130);
    margin-bottom: 14px;
}
.many-product .product{
    padding-top:30px;
    height: 635px;
    box-sizing: border-box;
}
.product-show{
    clear: left;
    float: left;
    
    width: 285px;
    box-sizing: border-box;
}
.product-show .hot-product{
    border:solid 1px #e4e4e4;
    border-bottom:none;

}
.product-show .hot-product li{
     border-bottom:solid 1px #e4e4e4;
     padding-bottom: 15px;
}
.product-show .hot-product .product-title{
    display:block;
    text-align:center;
    font-size:14px;
}
.product-show .hot-product img{
     width: 250px;
     height: 150px;
     display:block;
     margin: 0 auto;
     padding: 10px 0;
}
.product-guide{
    width: 285px;
    box-sizing: border-box;
    border: solid 1px #e6e6e6;
    height: 100%;
    float: left;
    padding: 20px 15px 20px;
    margin-right: 20px;
}
.many-product .product .product-list{
    width: 889px;
    box-sizing: border-box;
    height: 100%;
    margin-left: 307px;
}
.many-product .product .product-list .product-list-img img{
    
height: 170px;
    
width: 100%;
}
.many-product .product .product-list .left-img{
    float:left;
}
.many-product .product .product-list .product-list-img {
    margin-left: 317px;
    margin-right: -26px;   
}
.many-product .product .product-list .product-list-img li .one{
    padding: 3px 0px 3px 10px;
    font-size: 13px;
    box-sizing: border-box;
    height: 21px;
    background-color: rgb(242,241,239);
}
.many-product .product .product-list .product-list-img li .one .product-name{
    display: inline-block;
    width: 218px;
}
.many-product .product .product-list .product-list-img li .one .dazhe{
    text-align: center;
    color:white;
    display:inline-block;
    float:right;
    width: 46px;
    margin-top: -3px;
    line-height: 21px;
    background: url(../images/打折.png) no-repeat;
}
.many-product .product .product-list .product-list-img li .two{
    padding: 8px 0px 3px 10px;
    font-size: 14px;
}
.many-product .product .product-list .product-list-img li .two .current-price{
   padding-right:20px
}
.many-product .product .product-list .product-list-img li .two .before-price{
    text-decoration:line-through;
}
.many-product .product .product-list .product-list-img li{
    border:solid 1px #e4e4e4;
    width: 277px;
    height: 224px;
    box-sizing: border-box;
    margin-right: 17px;
    /* border-bottom: none; */
}
.many-product .product .product-list .left-img img{
    overflow:hidden;
    height: 449px;
    width: 291px;
    box-sizing: border-box;
    border: solid 1px #e4e4e4;
}
 .product-guide .title{
     box-sizing: border-box;
     border-bottom: solid 2px #e6e6e6;
     font-size: 16px;
     color: rgb(0,193,130);
     font-weight: bold;
}
 .product-guide ul{
    padding: 10px 0;
}
.product-guide ul li{
    width: 45px;
    font-size: 13px;
    padding-right: 5px;
    padding-bottom: 7px;
}
 .product-guide .price li{
    width: 78px;
}
.product-guide ul li a:hover ,.product-guide ul .active a{
    color:white;
    background-color:rgb(0,193,130);
    padding:2px 3px;
}
.product-guide .title strong{
    display: inline-block;
    background: url(../images/green-line.png) repeat-x bottom left;
    padding-bottom: 4px;
    margin-bottom: -2px;
}

/*-----合作机构-----*/
.cooperate-logo{
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    list-style: none;
    box-sizing: border-box;
    height: 136px;
    margin-bottom: 20px!important;
}
 .cooperate-logo li{
    float: left;
    width: 148px;
    height: 67px;
    box-sizing: border-box;
    border-right: 1px solid #e4e4e4;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: 65px;
    /* border-right: none; */
    border-bottom: 1px solid #e4e4e4;
}
 .cooperate-logo li img{
    width: 104px;
    height: 38px;
}

.lastest-news .lastest-news-list{

   padding-top: 22px;
}
.lastest-news .lastest-news-list .order-list {
    
padding: 0 13px;
    
margin-bottom: -1px;
}
.lastest-news .lastest-news-list .order-list  li{
    border-bottom:solid 1px #e4e4e4;
    line-height: 22px;
    padding: 10px 0;
    font-size: 13px;
}

.lastest-news .lastest-news-list .left-area{
   float: left;
   border: solid 1px #e4e4e4;
   width: 288px;
   height:100%;
   box-sizing: border-box;
}
.lastest-news .lastest-news-list .left-area .news{
    padding: 14px 10px 15px;
    line-height: 22px;
}
.lastest-news .lastest-news-list .left-area .news strong{
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}
.lastest-news .desc{
    height: 85px;
    overflow: hidden;
}
.lastest-news .detail-desc{
    font-size: 14px;
    line-height: 24px;
    padding: 10px 0;
    overflow: hidden;
}
.lastest-news .lastest-news-list .left-area img{
   width:100%;
   height: 295px;
}
.lastest-news .logo{
    left: 25px;
    width: 90px;
    position:absolute;
    background: url(../images/latest-recommd.png) no-repeat;
    line-height: 23px;
    padding-left: 10px;
    z-index: 100;
    font-size: 14px;
    top: 273px;
}
.title-line{
    height: 26px;
    border-bottom: solid 2px #e4e4e4;
    margin: 0 13px 13px;
}
.title-line strong {
    display: inline-block;
    background: url(../images/green-line.png) repeat-x bottom left;
    padding-bottom: 7px;
    /* margin-bottom: 2px; */
    color: rgb(0,190,130);
    font-size: 18px;
}
.lastest-news .lastest-news-list .center-area{
  height:100%;
  margin-right: 350px;
  margin-left: 315px;

  box-sizing: border-box;
  /* padding: 0px 2px; */
}
.lastest-news .lastest-news-list .center-area .news{
    padding: 10px 0 15px;
    border-bottom: solid 1px #e4e4e4;
}
.lastest-news .lastest-news-list .center-area .news-list li{
    float:left;
    width: 50%;
    padding: 20px 0 0;
    font-size: 14px;
}
.lastest-news .lastest-news-list .center-area .news-list li a{
    font-size: 15px;
}
.lastest-news .lastest-news-list .right-area{
  min-height: 514px;
  top: -43px;
  width: 335px;
  position: absolute;
  right: 3px;
  border: solid 1px #e4e4e4;
  box-sizing: border-box;
  z-index: 999999999999999999999;
  background-color: white;
  padding-top: 15px;
}
.lastest-news .lastest-news-list .zhanhui-info li {
    float:left;
    width: 45%;
    box-sizing: border-box;
    line-height: 20px;
    padding-left: 11px;
}
.lastest-news .lastest-news-list .zhanhui-info li  .title{
   margin-top: 9px;
   margin-bottom: 10px;
   font-size: 18px;
   font-weight: bold;
   color:rgb(210,16,120);
}
.lastest-news .lastest-news-list .zhanhui-info li  .time{
    
/* padding-top: 10px; */
}
.lastest-news .lastest-news-list .zhanhui-info img{
    width: 155px;
    height: 90px;
}
.cooperate-list .cooperate-list-img{
    border:solid 1px rgb(225,225,225);
    padding: 25px 15px 5px;
    margin-bottom: 35px;
    margin-top: 15px;
}
.cooperate-list .cooperate-list-img  img{
    border-right: solid 1px rgb(225,225,225);
    padding: 0px 26px;
    width: 110px;
    height: 30px;
    margin-bottom: 20px;
}
.cooperate-list .cooperate-list-img  img:nth-child(7n){
    border:none;
}


.tools-list ul li a{
    background: url(../images/user_operate.png);
}
.footer{
    background-color: rgb(242,240,238);
    height: 210px;
    font-size: 12px;
}
.footer ul{
    padding:0
}
.footer .content > div {
    float: left;
    padding-right: 102px;
    padding-top: 22px;
}
.footer .content > div ul li {
    margin-bottom:10px;
}
.footer .content > div  span{
    margin-bottom:10px;
    font-size:14px;
    display:inline-block;
    color: rgba(41, 41, 41, 0.71);
}

.footer .one-qrcode{
    float:right!important;
    padding-right: 0!important;
    margin-right: 0px!important;
}
.footer .two-qrcode{
    margin-right: 40px;
    float:right!important;
    padding-right: 0!important;
}
.copyright{
    height: 38px;
    background-color: rgb(225,225,225);
    line-height: 38px;
    font-size: 13px;
}

/*分享的样式*/

 .shareBtn {
    margin-bottom: 30px;
    width: 305px;
    margin-top: 20px;
    font-size: 12px;
}

.shareBtn-hd {
    display: inline-block;
    position: relative;
    z-index: 3;
    width: 64px;
    height: 23px;
    padding-left: 8px;
    border: 1px solid #fff;
    border-bottom: none;
    border-left: 1px solid #FFF;
    color: #676767;
    line-height: 21px;
    font-size: 12px;
}

.h-shareBtn .shareBtn-hd {
    float: left;
    width: 55px;
    padding-left: 0;
    padding-top: 5px;
    color: #666;
    font-size: 14px;
}

.shareBtn-hd i {
    position: absolute;
    right: 6px;
    top: 8px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-width: 4px;
    border-style: solid;
    border-color: #8b8c8e #fff #fff;
    -moz-transition: -moz-transform .2s ease-in;
    -webkit-transition: -webkit-transform .2s ease-in;
    -o-transition: -o-transform .2s ease-in;
    transition: transform .2s ease-in;
}

.hover .shareBtn-hd i {
    -moz-transform: rotate(180deg);
    -moz-transform-origin: 50% 30%;
    -webkit-transform: rotate(180deg);
    -webkit-transform-origin: 50% 30%;
    -o-transform: rotate(180deg);
    -o-transform-origin: 50% 30%;
    transform: rotate(180deg);
    transform-origin: 50% 30%;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    top: 3px\9;
}

.hover .shareBtn-hd {
    margin-top: -1px;
    border: 1px solid #d1d1d1;
    border-bottom: none;
    background: #fff;
}

.v-shareBtn {
    display: inline;
    width: 64px;
    height: 23px;
    float: left;
    margin-left: -8px;
}

.v-shareBtn .shareBtn-bd {
    display: none;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 22px;
    border: 1px solid #d1d1d1;
    width: 92px;
    padding: 8px 0;
    background: #fff;
}

.hover .shareBtn-bd {
    display: block;
}

.shareBtn-bd li {
    height: 24px;
    padding: 0 0 0 11px;
    line-height: 24px;
}

.shareBtn-bd li.hover {
    background: #f3f3f3;
}

.shareBtn-bd a {
    display: block;
    padding-left: 22px;
    color: #5c5c5c;
}

.shareBtn-bd li.hover a {
    color: #c00;
}

.h-shareBtn .shareBtn-bd li {
    float: left;
    width: 24px;
    height: 24px;
    padding: 0;
    overflow: hidden;
    margin-right: 5px;
}

.h-shareBtn .shareBtn-bd a {
    display: block;
    width: 0;
    height: 24px;
    padding-left: 24px;
    filter: Alpha(Opacity=80);
    opacity: .8;
    -moz-transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.h-shareBtn .shareBtn-bd a:hover {
    filter: Alpha(Opacity=100);
    opacity: 1;
}

.shareBtn24 .s_qzone {
    background-position: -62px -229px;
}


.shareBtn24 .s_pengyou {
    background-position: -62px -287px;
}

.shareBtn24 .s_sina {
    background-position: -62px -316px;
}

.shareBtn24 .s_weibo {
    background-position: -62px -200px;
}


.shareBtn24 .s_qq {
    background: url(../images/qqshare_16_24.png) -18px -25px no-repeat;
}


.shareBtn-bd a{

    display: inline-block;
    background: url(../images/s_gallery_2012110702.png) no-repeat 0 0;
}


