@charset "utf-8";

/* 此样式为整个系统的公共样式 */

html, body {
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(170,166,161);
    min-width: 1200px;
    background-color: white;
    font-size: 14px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}
.more{
    line-height: 24px;
    height: 24px;
    background: url(../images/灰色+.png) no-repeat 11px 9px;
    float: right;
    border: solid 1px rgb(224, 222, 220);
    padding: 3px 12px 3px 33px;
    font-size: 12px;
 
}

.more:hover{
    background: url(../images/绿色+.png) no-repeat 11px 9px;
}
.more:hover{
    color:rgb(0,193,130);
}
.more-no-border{
    border:none;
}
.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}
ul li{
    list-style: none;
}
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}
a {
    border: none;
    color:rgb(170,166,161);
    text-decoration: none;
}
.red{
    color: red;
}
.green-hover{
    color: rgb(0,193,130);
}
.gray-color{
    color:rgb(170,166,161);
}
.d-center-all {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    font-size: 0;
    *zoom: 1;
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}
.header{
    color: rgb(170,166,161);
    border-bottom: solid 1px rgb(226, 222, 222);
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.nav>li{
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
   
}
.nav>li:not(:last-child) {
    padding-right: 10px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 0px 0 0 20px;
    font-size: 12px;
}

.nav>li>a:hover,.nav>li>a:focus {
   color: rgb(0,193,130);
}
.header .register{
    padding-left: 0;
    padding-right: 12px;
}
.header .designer-center{
   background: url(../images/设计师中心.png) no-repeat left center;
}
.header .help-center{
    background: url(../images/帮助中心.png) no-repeat no-repeat left center;
}
.header .guide-center{
    background: url(../images/网站导航.png) no-repeat no-repeat left center;
}
.navbar ul li:not(:first-child) {
    margin-left: 26px;
}
.navbar > div{
    display: inline-block;
}
.navbar .logo{
    width: 400px;
    height: 80px;
    background: url(../images/logo.png) no-repeat no-repeat left center;
}

.navbar .search {
    top: 16px;
    left: 410px;
    width: 500px;
    height: 38px;
    border-radius: 5px;
    border: solid 2px rgb(0,193,130);
}
.navbar-menu img {
    bottom: 0px;
    right: 40px;
}
 .navbar-menu li a:hover,.navbar-menu .active a{
     color: rgb(0,193,130);
 }
 .navbar-menu .active{
       color: rgb(0,193,130);
      border-bottom:solid 2px rgb(0,193,130);
 }
 .navbar-menu li {
    float: left;
    display: block;
    padding: 0 40px 0;
    line-height: 55px;
}
.navbar-menu li a {
    font-size: 20px;
    color: black;
    /* font-weight: bold; */
    font-family: "微软雅黑";
}
 .navbar .search-btn{
     float:right;
     color: white;
     background-color: rgb(0,193,130);
     /* top: 7px; */
     font-size: 18px;
     line-height: 38px;
     padding: 0 23px;
 }
.navbar form{
    height: 100%;
}


.navigate{
    border-bottom: solid 1px #e6e6e6;
    padding-bottom: 15px;
}
.navigate span{
    font-size: 13px;
}
.navigate .menu{
    display: inline-block;
    margin-left:100px;
    /* width: 353px; */
    /* height: 30px; */
}
.navigate .menu a{
    padding: 0 10px 18px;
    font-size: 13px;
    color: #6B6767;
    margin-right: 15px;
}
.navigate .menu a:hover{
    color:rgb(0,193,130);
}
.navigate .menu a:hover, .navigate .menu .active{
    color:rgb(0,193,130);
    background: url(../images/green-line.png) repeat-x left bottom;
}
.navigate p{
    display: inline-block;
    margin-right: 10px;
    color: black;
    font-family: "微软雅黑";
    font-size: 20px;
    font-weight: bold;
}


.navbar form select{
     height: 100%;
     border: none;
     outline: none;
 }
.navbar .search-input{
    height: 100%;
    border: none;
    width: 327px;
    outline: none;
    border-left: solid 1px #F3EEEE;
    padding-left: 10px;
}
.banner {
    border-top:solid 1px  rgb(226, 222, 222);
}
.banner .menu-img img{
    height: 500px;
    width: 100%;
}
.services{
    padding: 25px 0;
    font-weight: bolder;
}
.services .title{
      width: 600px;
      font-size: 24px;
      margin: 0 auto;
      font-weight: bolder;
      /* font-family: "微软雅黑"; */
  }


.services:after{
    right: 13px;
}

.services:before{
    /* left: 20px; */
}
.services:after, .services:before {
    content: ' ';
    position: absolute;
    height: 0;
    line-height: 0;
    border-top: 1px solid #e6e6e6;
    width: 285px;
    top: 50%;
    
}
.services-detail-guide {
    padding: 0  0 55px 0;
}
.services-detail-guide .title{
    font-size: 15px;
    color: #0A0101;
    font-weight: bold;
}
.services-detail-guide > div{
    display: inline-block;
    width: 251px;
}

.services-detail-guide > div:not(:first-child){
    padding: 0 0 0 43px;
}
.services-detail-guide a{
    font-size: 13px;
    padding: 4px 7px;
    color: rgb(0,193,130);
    margin-left: -7px;
}
.services-detail-guide a:hover,.services-detail-guide .active{
    color: white;
    background-color: darkorange;
}
.services-detail-guide a i{
    width: 20px;
    height: 10px;
    display: inline-block;
    background: url("../images/立即了解更多.png") no-repeat right center;
}

.services-detail-guide .active i,.services-detail-guide a:hover i{
    background: url("../images/更多.png") no-repeat right center;
}
.services-detail-guide .desc{
    color: rgb(170,166,161);
    font-size: 13px;
    padding: 5px 0 23px;
}
.services-detail-guide .amount-desc{
    width:100%;
    height: 140px;
}
.services-detail-guide .amount{
    font-size: 60px;
    color: rgb(154, 150, 145);
    left: 0px;
    top: 41px;
    position: absolute;
    z-index: 10;
}

.services-detail-guide .amount-img{
    position: absolute;
    right: 37px;
    width: 130px;
    height: 130px;
}
.design-case ul li ,.designers-recommend ul li , .many-product ul li , .cooperate-list ul li {
    float: left;
}
.design-case .cases{
    padding-top: 30px;
}
.design-case .cases .list-one img {
    width: 280px;
    height: 280px;
}
.design-case  .list-one li:not(:last-child){
    padding-right: 26px;
}
.design-case  .list-two li:not(:last-child){
    padding-right: 26px;
}

.design-case .list-two .big-img{
    width:590px;
    height: 430px;

}
.footer{
    background-color: rgb(242,240,238);
    height: 210px;
    font-size: 12px;
}
.footer .content > div {
    float: left;
    padding-right: 101px;
    padding-top: 22px;
}
.footer .content > div ul li {
    margin-bottom:10px;
}
.footer .content > div  span{
    margin-bottom:10px;
    font-size:14px;
    display:inline-block;
    color: rgba(41, 41, 41, 0.71);
}

.footer .one-qrcode{
    float:right!important;
    padding-right: 0!important;;
    margin-right: 0px!important;;
}
.footer .two-qrcode{
    margin-right: 40px;
    float:right!important;;
    padding-right: 0!important;;

}
.copyright{
    /* text-align: center; */
    height: 38px;
    background-color: rgb(225,225,225);
    line-height: 38px;
    font-size: 13px;
}

