.login .login-header{
    padding:30px 0;
}
.login .banner .name{
    text-align: left;
    color:black;
    font-size: 22px;
    padding: 37px 15px 0;

}
.login .third-desc {
    background: url(../images/thirdimg.png) no-repeat  center;
    margin: 0 0 17px 0;
}
.login .username{
     background: url(../images/login-header.png) no-repeat 0px center;
}
.login .mobile{
    background: url(../images/password.png) no-repeat 0px center;
}
.login .phone{
    font-size: 16px;
    line-height: 50px;
    float: right;
    color:grey;
}
.login .bottom{
      /* position: absolute; */
      bottom: 10px;
      width: 100%;
      padding: 100px 0 0;
      color: #7D7373;
      font-size: 13px;
      line-height: 26px;
}
.login .bottom a {
      color: #4A3F3F;
      font-size: 13px;
}
.login .banner .content img{
    width:100%;
    height:610px;
}
.login-page{
    right: 348px;
    top: 253px;
}
.register .title{
    text-align: center;
    font-size: 24px;
    color: black;
    font-weight: bold;
    margin: 40px 0 30px;
}
.register .register-area{
    height: 540px;
     
    padding: 50px 0;
    background-color:#ebebeb;
}
.register .register-area .content{
    background-color:white;
    height: 100%;
   
}
.register .guide-index{
    height: 108px;
    background: url("../images/register-img.png") no-repeat center;
}
.register .guide-index-one{
    background-position: 52px -3px;

}
.register .guide-index-two{
    background-position: 52px -87px;
}
.register .guide-index-three{
    background-position: 52px -438px;
}
.register .register-form{
    width: 302px;
    text-align:  center;
    margin: 0 auto;
}
.register .register-form input[type=text],.register .register-form select{
     width: 100%;
     border:solid 1px #e4e4e4;
     height: 38px;
     outline:none;
     margin: 10px 0 3px;    
     padding-left: 10px;
     box-sizing: border-box;

}
.register .register-form .select-input i{
     z-index: 1;
     position: absolute;
     background: url(../images/select-bg.png) #ebebeb  no-repeat right center;
     display: inline-block;
     right: 1px;
     bottom: 4px;
     width: 40px;
     height: 36px;
     border-left: solid 1px #e4e4e4;
}
.register .register-form .label-name{
    text-align: left;
    padding: 12px 0 0px 0px;
    font-size: 12px;
    color: gray;
}
.register .register-form-two{
      width: 436px;
      margin:0 auto;
      text-align: center;
      font-size: 14px;
      line-height: 34px;
}

.register .register-form-two  .title{
    background: url(../images/success-logo.png) 50px 0 no-repeat;
}
.register .register-form-three{
    width:305px;
    margin: 0 auto;
}
.register .register-form input:focus{
    border:solid 1px #14b48b;
}
.register .register-form .select{
    cursor: pointer;
    line-height: 30px;
    display: none;
    position: absolute;
    top: 48px;
    width: 100%;
    z-index: 100;
    text-align: left;
    padding: 0   0 0 11px;
    border: solid 1px #e4e4e4;
    background-color: white;
    box-sizing: border-box;
}

.register .register-form .select p{
    /* border-bottom:solid 1px #e4e4e4; */
}