/*产品采购*/
.product-purchase .product-purchase-center-area{
    padding: 10px 0 50px;
}
.product-purchase .product-purchase-center-area .right-area{
    margin-left: 300px;
}

/*最新动态*/
.latest-news {

}
.latest-news .news-list li{
    float:left;
}
.latest-news .left-area{
    width: 850px;
}
.latest-news .bread a{
    font-size: 13px;
    color: #6b6767;
    padding: 0 10px 0 0;
}
.latest-news .left-area .title{
    font-size:24px;
    font-weight:bold;
    color:black;
    margin-left: -9px;
    margin-top: 15px;
}
.latest-news .left-area .basic-info{
    margin: 15px 0;
}
.latest-news .left-area .zhaiyao{
    top: 14px;
    padding:  0 10px 0;
}
.latest-news .left-area  .content .simple-desc{
    background-color: rgb(242,241,239);
    text-indent: 64px;
    font-size: 13px;
    padding: 10px 10px;
    line-height: 25px;
}
.latest-news .left-area .logo {
    width: 670px;
    height: 380px;
    margin: 20px 0;
}
.latest-news .left-area .detail-content{
    padding:10px 0 10px;
}
.latest-news .left-area .detail-content p{
    font-size: 18px;

    text-indent: 36px;
    margin-bottom: 30px;
    color: rgb(66,66,66);
}
.latest-news .left-area .friendly-link{
    margin-top:20px;
}
.latest-news .left-area .friendly-link a:hover{
    color:rgb(0,190,130)
}
.latest-news .left-area .news-list{
    /* border-top: solid 1px #e4e4e4; */
}
.latest-news .left-area .news-list li{
    width: 40%;
    padding: 10px 50px 7px 0px;
    font-size: 16px;
}
.latest-news .bread a:hover{
    color: rgb(0,190,130);
    /* padding: 0 10px; */
}
.latest-news .left-area  .bottom ul li{
    cursor:pointer;
}

.trade-show  .read-list li{
    padding: 15px 0 15px 14px;
    border-top:solid 1px #e4e4e4;
}
.trade-show .read-list li:hover{
    background-color: rgb(242,241,239);
   
}
.trade-show .read-list li:hover a{
    color: rgb(0,190,130);
}


.latest-news .right-area{
    margin-left: 880px;
    width: 320px;
}

.latest-news .center-area{
    margin-bottom: 50px;
    padding-top:30px;
}
.trade-show   .top{
    border:solid 1px #e4e4e4;

}

.trade-show   .title{
    padding: 10px 0 0 15px;
}

.trade-show .bottom{
    margin-top: 30px;
    width: 320px;
    box-sizing: border-box;
    border:solid 1px #e4e4e4;
    padding: 15px 17px 15px 17px;
}
.trade-show .zhanhui{
    padding: 0 0px 15px;
  
}
.trade-show .zhanhui img{
    display: block;
    width: 281px;
    height: 200px;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.trade-show .zhanhui h2{
    margin-bottom:10px;
}