/*产品采购*/
.product-purchase .product-purchase-center-area{
    padding: 20px 0 50px;
}
.product-purchase .product-purchase-center-area .right-area{
    margin-left: 310px;
}
.product-purchase .name-desc{
    width: 285px;
    
    background-color: rgb(0,190,130);
    color: white;
    padding: 17px 0;
    box-sizing: border-box;
}
.product-purchase .name-desc strong{
    font-size:20px;
    padding-left:20px;
}
.product-purchase .brand-logo{
    background: url(../images/pingpai.png) no-repeat 0px 4px;
    padding: 0 10px 15px 25px;
}
.product-purchase .hot-logo{
     background: url(../images/hot-intro.png) no-repeat 0px 5px;
     padding: 0 10px 15px 25px;
  
     margin-top: 30px;
}
.product-purchase .order-menu{
    border:solid 1px #e4e4e4;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    background-color: #F5F1EF;
    opacity: 0.9;
    border-right:none;
}

.product-purchase .order-menu .active,.product-purchase .order-menu li:hover{
    background-color:white;
}

.product-purchase .order-menu .active a,.product-purchase .order-menu li:hover a{
    color:black;  
}
 
.product-purchase .order-menu li{
    border-right:solid 1px #e4e4e4;
    padding: 0 16px;
    color: #7D7A7A;
}
.product-purchase .order-menu  .left-move{
    height: 35px;
    width: 5px;
    display: block;
    background: url(../images/left-move.png) no-repeat center 13px;
}
.product-purchase .order-menu  .right-move{
       display: block;
    background: url(../images/right-move.png) no-repeat center 13px;
       height: 35px;
    
       width: 6px;
}
.product-purchase .product-list{
    margin-top:20px;
}
.product-purchase .product-list li .title{
    position:absolute;
    text-align:center;
    padding: 15px 0;
    width: 100%;
    bottom: 0;
    background-color: #5F5C59;
    opacity: .8;
    color: white;
}
.product-purchase .product-list li{
    margin-bottom:20px;
    border: solid 1px #e4e4e4;
}
.product-purchase .product-list li .product-detail p{
    color:black;
    line-height:25px;
    font-size: 13px;
}
.product-purchase .product-list li .product-detail{
    display:none;
    position:absolute;
    width:100%;
    bottom:0;
    z-index:1000;
    box-sizing: border-box;
    background-color: white;
    padding: 13px 16px;
    color: black!important;
}
.product-purchase .product-list li:hover .product-detail{
    display:block;
    
    /* background-color: white; */
}
.product-purchase .product-list img{
    width: 284px;
}
/*最新动态*/
.latest-news {

}
.latest-news .news-list li{
    float:left;
}
.latest-news .left-area,.trade-show-info .left-area{
    width: 850px;
}
.bread a{
    font-size: 13px;
    color: #6b6767;
    padding: 0 10px 0 0px;
}
.bread a:hover{
    color:rgb(0,190,130);
}
.latest-news .left-area .title{
    font-size:24px;
    font-weight:bold;
    color:black;
    margin-left: -9px;
    margin-top: 15px;
}
.latest-news .left-area .basic-info{
    margin: 15px 0;
}
.latest-news .left-area .zhaiyao{
    top: 14px;
    padding:  0 10px 0;
}
.latest-news .left-area  .content .simple-desc{
    background-color: rgb(242,241,239);
    text-indent: 64px;
    font-size: 13px;
    padding: 10px 10px;
    line-height: 25px;
}
.latest-news .left-area .logo {
    width: 670px;
    height: 380px;
    margin: 20px 0;
}
.latest-news .left-area .detail-content{
    padding:10px 0 10px;
}
.latest-news .left-area .detail-content p{
    font-size: 18px;

    text-indent: 36px;
    margin-bottom: 30px;
    color: rgb(66,66,66);
}
.latest-news .left-area .friendly-link{
    margin-top:20px;
}
.latest-news .left-area .friendly-link a:hover{
    color:rgb(0,190,130)
}
.latest-news .left-area .news-list{
    /* border-top: solid 1px #e4e4e4; */
}
.latest-news .left-area .news-list li{
    width: 40%;
    padding: 10px 50px 7px 0px;
    font-size: 16px;
}
.latest-news .bread a:hover{
    color: rgb(0,190,130);
    /* padding: 0 10px; */
}
.latest-news .left-area  .bottom ul li{
    cursor:pointer;
}

.trade-show  .read-list li{
    padding: 15px 0 15px 14px;
    border-top:solid 1px #e4e4e4;
}
.trade-show .read-list li:hover{
    background-color: rgb(242,241,239);
   
}
.trade-show .read-list li:hover a{
    color: rgb(0,190,130);
}


.latest-news .right-area,.trade-show-info .right-area{
    margin-left: 880px;
    width: 320px;
}

.latest-news .center-area{
    margin-bottom: 50px;
    padding-top:30px;
}
.trade-show   .top{
    border:solid 1px #e4e4e4;

    margin-top: 30px;
}

.trade-show   .title{
    padding: 10px 0 0 15px;
}

.trade-show .bottom{
    margin-top: 30px;
    width: 320px;
    box-sizing: border-box;
    border:solid 1px #e4e4e4;
    padding: 15px 17px 15px 17px;
}
.trade-show .zhanhui{
    padding: 0 0px 15px;
  
}
.trade-show .zhanhui img{
    display: block;
    width: 281px;
    height: 200px;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.trade-show .zhanhui h2{
    margin-bottom:10px;
}
/*展会信息*/
.trade-show-info .center-area{
    padding: 15px 0;
}
.trade-show-info .left-area .menu-tab{
     height: 50px;
     background-color:rgb(242,240,238);
     width:100%;
     margin-top: 15px;
     margin-bottom: 30px;
     border: solid 1px #e4e4e4;
}
.trade-show-info .left-area .menu-tab li{
     float:left;
     line-height: 49px;
     padding:0 10px 0 20px;
     font-size: 20px;
      font-weight:bold;
     border-top:solid 2px transparent;
       border-left:solid 1px transparent;
     border-right:solid 1px transparent;
}
.trade-show-info .left-area .menu-tab .active,.trade-show-info .left-area .menu-tab li:hover{
     background-color:white;
     border-top:solid 2px  rgb(0,190,130);
     border-left:solid 1px #e4e4e4;
     border-right:solid 1px #e4e4e4;
 }
 .trade-show-info .left-area .menu-tab .active a,.trade-show-info .left-area .menu-tab li:hover a{
    color: rgb(0,190,130);
   
 }
.trade-show-info .left-area .trade-list   img{
   
float:left;
   
width: 280px;
   
height: 160px;
   
margin-right: 15px;
   
cursor: pointer;
}
.trade-show-info .trade-list li{
    /* color: #6b6767; */
    margin-bottom: 20px;
}
.trade-show-info .trade-list li p{
    font-size:13px;
    margin-top: 8px;
    line-height: 20px;
}
.trade-show-info .trade-list .address{
   bottom: 1px;      
   left: 294px;
}
.trade-show-info .trade-list .time{
    bottom: 19px;
    right: 437px;
}
.trade-show-info .soft-decoration-list .dot-line{
    height:1px;
    border-width: 1px;
    border-top-style: dashed;
    margin: 40px 0;
}
.trade-show-info .soft-decoration-list  .soft-decoration-list-left {
    width: 287px;
}
.trade-show-info .soft-decoration-list  .soft-decoration-list-left img{
    width:287px;
    height:292px;
}
.trade-show-info .soft-decoration-list  .soft-decoration-list-left .news{
     padding: 18px 10px 30px 10px;
     background-color: rgb(242,240,238);
     box-sizing: border-box;
}
.trade-show-info .soft-decoration-list  .soft-decoration-list-left  .desc{
    margin-top: 13px;
    line-height: 23px;
    font-size: 12px;
}

.trade-show-info .soft-decoration-list  .soft-decoration-list-right {
    margin-left: 315px;
}
.trade-show-info .soft-decoration-list  .soft-decoration-list-right img{
    width:85px;
    height:98px;
}
.trade-show-info .soft-decoration-list-right .detail-desc{
   line-height: 20px;
   margin-top: 12px;
   font-size: 13px;
}
.trade-show-info .soft-decoration-list-right .news-list{
    margin-top: 37px;
}
.trade-show-info .soft-decoration-list-right .news-list li{
    float:left;
    box-sizing: border-box;
    width: 49%;
    padding-right: 20px;
    line-height: 35px;
    font-size: 14px;
    color: black;
}

/*作品案例*/
.design-case-list  .top-menu{
   padding:10px;
}

.design-case-list  .top-menu{
   padding:10px;
}.design-case-list  .top-menu li{
    float:left;
}

.design-case-list {

}

.design-case-list .design-case{
    
}

.design-case-list .design-case .header-img{
    
}
.design-case-list .design-case .product-name{

}

}
.design-case-list .design-case .case-info{
    
}
