@charset "utf-8";

/* 此样式为整个系统的公共样式 */

html, body {
    font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #4c4c4c;
    min-width: 1200px;
    background-color: white;
    font-size: 14px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    /* line-height: 100%; */
    border: 0;
}
.width100{
    width:100px;
}
.paddingTop10{
    padding-top: 10px;
}
.normal-bg-color{
    background-color:rgb(110, 152, 66);
}
.normal-font-color {
  color:rgb(110, 152, 66)!important;
}
.white{
    color:white;
}
iframe {
    border: none;
    width: 100%;
    height: auto;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* 上下左右箭头样式 */

.arrow {
    display: inline-block;
    border-style: solid;
    border-width: 4px 6px 4px;
    height: 0;
    margin: 2px 5px;
    padding: 0;
    width: 0;
}

.arrow-top {
    border-color: transparent transparent #000000;
    border-width: 0px 4px 6px;
}

.arrow-down {
    border-color: #000000 transparent transparent;
    border-width: 6px 4px 0px;
}

.arrow-left {
    border-color: transparent #000000 transparent transparent;
}

.arrow-right {
    border-color: transparent transparent transparent #000000;
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.float-left {
    float: left !important;
}

.float-right {
    float: right;
}
.display-block{
     display: block;
 }
.display-inline-block{
    display: inline-block;
}
.margin-top20 {
    margin-top: 20px;
}

.margin-left20 {
    margin-left: 20px;
}

.margin-left-40 {
    margin-left: -40px !important;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    font-size: 0;
    *zoom: 1;
}
abbr, acronym {
    border: 0;
}

a {
    border: none;
    color: #212020;
    text-decoration: none;
}

.title {
    color: black;
    /* font-weight: bold; */
    font-size: 18px;
    margin: 10px 0;
}

a:hover {
    /* color: white; */
}

.d-center-all {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* 导航栏样式 */
.navbar {
    position: relative;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #e8e8e8;
    border-top: solid 2px green;
    height: 38px;
}

.navbar ul li {
    display: inline-block;
    line-height: 38px;
    font-weight: bold;
}

.navbar ul li a {
    /* width: 84px; */
    display: block;
    padding: 0 21px;
}

.navbar ul li a:hover, .navbar ul .active a {
    background-color: rgb(110, 152, 66);
    color: white;
}

.navbar ul li:not(:first-child) {
    margin-left: 22px;
}

.d-navbar .navbar-menu li {
    float: left;
    display: block;
    padding: 0 53px;
    line-height: 65px;
}

.d-navbar .navbar-menu li a {
    color: white;
    font-size: 15px;
}

.homepage .banner img {
    width: 100%;
    max-height: 321px;
}

.container {

}

/* 头部样式 */
.homepage .header {
    position: relative;
    height: 64px;
    padding: 10px 0 0;
}

.homepage .header .logo {
    position: absolute;
    background: url(../images/top365.png) no-repeat center center;
    height: 56px;
    width: 108px;
    /* display: inline-block; */
}

.homepage .header .free-movie {
    position: absolute;
    background: url(../images/免费电影.png) no-repeat center center;
    left: 100px;
    width: 115px;
    height: 50px;
    /* margin-left: -20px; */
    top: 11px;
}

.homepage .header .tools {
    position: absolute;
    /* width: 100px; */
    /* float:right; */
    right: 0;
    /* height: 50px; */
}

.homepage .header .tools div {
    text-align: center;
    display: inline-block;
    padding-left: 17px;
}

.homepage .header .tools .update {
    /* width:100px; */
}

.homepage .header .tools .update:after {
    content: '最近更新';
    display: block;
    color: black;
}

.homepage .header .tools .fackback:after {
    content: '留言反馈';
    display: block;
    color: black;
}

.homepage .header .tools .favorte:after {
    content: '最近收藏';
    display: block;
    color: black;
}

.homepage .header div {
    /* position:absolute; */
    color: #6e9842;
}

.homepage .header .search-input {
    width: 400px;
    height: 36px;
    background: url(../images/search.png) no-repeat right center;
    border: solid 1px #d4d4d4;
}

.homepage .header .wanzheng {
    position: absolute;
    left: 226px;
    top: 28px;
    font-size: 16px;
}

.homepage .header .search {
    position: absolute;
    left: 327px;
    top: 17px;
}
/*热门推荐*/
.homepage  .hot-introduce > div {
     display:inline-block;
}

.homepage  .hot-introduce .left-area img{
    width: 300px;
    height: 320px;
}

.homepage .hot-introduce .right-area .top > div{
    font-size: 16px;

}
.homepage  .hot-introduce .right-area .bottom >div img{
    width: 200px;
    height: 130px;
}
.homepage  .hot-introduce .right-area .bottom {
    margin-top: 25px;
}
.homepage .more{
    padding-right: 24px;
    font-size: 16px;
}
.homepage  .hot-introduce .right-area .top > div, .homepage  .hot-introduce .right-area .bottom > div,.homepage    .televition-rank .right-area .top > div ,.homepage    .televition-rank .right-area .bottom > div  {
    display: inline-block;
    margin-left: 18px;
}

.homepage .hot-introduce .introduce-info{
     height: 55px;
     width: 100%;
     bottom: 0;
    
     /* background: black; */
    
     /* opacity: 0.5; */
}
.homepage .hot-introduce .introduce-info .play{
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 55px;
    height: 51px;
    background: rgb(110, 152, 66);
}
.homepage .hot-introduce .introduce-info .desc{
    position: relative;
    font-size: 16px;
    color:white;
    background: rgba(0,0,0,.45);
    bottom: 0px;
    margin-left: 55px;
    width: auto;
    height: 46px;
    padding: 5px 0 0 14px;
    line-height: 20px;
    zoom: 1;
}
.homepage .hot-introduce .introduce-info .triangle_right {
    position: absolute;
    z-index: 27;
    width: 0;
    top: 50%;
    height: 0;
    left: 50%;
    border: 15px solid transparent;
    margin: -16px 0 0 -5px;
    border-left-color: white;
    border-left: 16px solid white;
}

/*电视剧点击排行*/
.homepage  .televition-rank {
    margin-top: 46px;
}
.homepage  .televition-rank > div{
    display: inline-block;
    
}
.homepage    .televition-rank .left-area  {
    width: 300px;
    height: 468px;
    background-color: #e8e8e8;

}
.homepage    .televition-rank .right-area  .bottom{
    margin-top: 22px;
}
.homepage .televition-rank .right-area .top >div img,.homepage .televition-rank .right-area .bottom >div img{
    width: 156px;
    height: 184px;
}
.homepage  .left-area .top-three img{
    width: 100px;
    height: 75px;
    padding: 10px 0 0 15px;
}
.top-three .order-light-logo{
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 4px;
    left: 15px;
    color:white;
    text-align: center;
    line-height: 25px;
    background-color: rgb(110, 152, 66);
}
.after-four .order-gray-logo{
    display: inline-block;
    width: 20px;
    height: 20px;
    /* bottom: 4px; */
    margin-left: 15px;
    /* left: 15px; */
    color:white;
    margin-top: 16px;
    text-align: center;
    line-height: 20px;
    background-color: #797575;
}
.after-four  p,.top-three  p{
   color: black;
    display: inline-block;
   margin: 0 8px;
   bottom: 2px;
    right: 10px;

}
.homepage    .trailer-rank .month li{
     display: inline-block;
}
.homepage    .trailer-rank .month li:not(:last-child) a{
    display: inline-block;
    border-right: solid 1px #615C5C;
    padding-right: 5px;
}
.homepage    .trailer-rank  .month  .active a{
    color:rgb(110, 152, 66);
}

.homepage    .trailer-rank a:not(:last-child){
     padding: 0 12px;
     margin-left: 20px;
}
.homepage    .trailer-rank a:hover{
     color: rgb(110, 152, 66);;
}
.homepage    .trailer-rank .menu .active{
    border-bottom: solid 2px  rgb(110, 152, 66);;
}
.homepage .trailer{
    margin-top:10px;
}
.homepage .trailer img{
    width: 220px;
    height: 130px;
}
.homepage .trailer img:not(:nth-child(5n)){
    padding-right: 18px;
}

/* 底部菜单样式 */
.footer {
    clear: both;
    text-align: center;
    padding:30px 0;
    font-size: 14px;
    margin-top: 70px;
    background-color: #e8e8e8;;
}




