@charset "utf-8";

/*详细页样式*/
.cube {
    height: 10px;
    width: 10px;
    background-color: rgb(110, 152, 66);
    display: inline-block;
    margin-right: 10px;
}

.detail-page .trailer div:not(:last-child) {
    margin-right: 12px;
}

.detail-page .trailer div {
    display: inline-block;
}

.detail-page .trailer img {
    width: 200px;
    height: 130px;
}

.detail-page .left-area {
    margin-top: 40px;
    width: 850px;
    /* background-color: #e8e8e8; */
    margin-right: 30px;
}

.detail-page .left-area .title, .detail-page .right-area .title {
    font-size: 22px;
}

.detail-page .movie-info span {
    margin-bottom: 29px;
    font-size: 15px;
}

.detail-page .introduce {
    padding: 20px 30px;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0 30px;
    background-color: rgb(229, 259, 248);
}

.detail-page .movie-info span:nth-child(odd) {
    color: rgb(181, 183, 182);

}

.detail-page .movie-info span:nth-child(even) {
    margin-right: 20px;

}

.detail-page .detail-desc {
    padding: 27px 20px 50px;
    font-size: 15px;
    margin: 20px 0;
    line-height: 32px;
    word-spacing: 18px;
}

.detail-page .detail-desc li span:nth-child(odd) {
    width: 86px;
    display: inline-block;
    /* margin-right: 50px; */
}

.detail-page .series {
    padding: 30px 10px 52px;
}

.detail-page .series a {
    display: inline-block;
    width: 90px;
    margin-left: 7px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: solid 1px rgba(60, 50, 53, 0.22);
    background-color: white;
}

.detail-page .series a {
    margin-bottom: 10px;
}

.detail-page .series a:hover {
    background-color: rgb(110, 152, 66);
    color: white;
}

.detail-page .right-area{
    width: 299px;
    margin-top: 40px;
}

.detail-page .right-area .notice {
    padding: 20px;
}

.detail-page .right-area .notice ul li {
    line-height: 25px;
    font-size: 16px;
}

.detail-page .televition-rank {
    margin-top: 53px;
}

.detail-page .televition-rank .list {
    padding: 10px 0px 49px;
}
.detail-page .download-list{
    padding:30px 10px;
}
.detail-page .download-list ul{
    margin-bottom: 10px;
}
.detail-page .download-list ul li{
     display: inline-block;
     padding:0 2px;
}
.detail-page .download-list .url{
    width: 550px;
    height: 26px;
    font-size: 16px;

}

.play-area {
    margin-top: 28px;
    /* background-color: black; */
    height: 590px;
}

.play-area div {
    display: inline-block;
}

.play-area .player {

    width: 865px;

    height: 100%;

    background-color: red;
}

.play-area .series-info {

    box-sizing: border-box;

    width: 310px;

    height: 100%;

    background-color: rgb(51, 51, 51);

    padding: 15px 0 0 20px;
}

.play-area .title {

    color: white;

    font-size: 20px;

    margin: 10px 0;
}


.play-area .episode a {
    display: inline-block;
    width: 48px;
    background-color: rgb(36, 36, 36);
    height: 48px;
    text-align: center;
    line-height: 48px;
    color: white;
    border: solid 1px rgba(171, 157, 161, 0.22);
    margin-top: 16px;
    font-weight: bolder;
}

.play-area .episode a:not(:last-child) {
    margin-right: 15px;
}
.simple-page .move-info > div {
    display: inline-block;
    margin-top: 25px;
}
.simple-page .move-info > div:not(:last-child) {
    margin-right: 14px;
}
.simple-page .action-type{
    margin-bottom:20px;
}
.simple-page .action-type > div{
     display: inline-block;
}
.simple-page .action-type > div:not(:last-child){
    margin-right: 12px;
}
.simple-page .left-area{
     width: 299px;
 }
.simple-page #showSimpleMovie{
    margin-left: 330px;
    padding-top: 19px;
}

.sile-page .televition-rank .list {
    padding: 10px 0px 49px;
}
.search-result .result-info{
    font-size: 16px;
    border-bottom: solid 2px rgb(110, 152, 66);
    padding-bottom: 14px;
}
.search-result .item-introduce{
    border-bottom: solid 1px #e8e8e8;
    padding-bottom: 30px;
    margin-top: 30px;
    /* padding-top: 1px; */
}
.search-result .item-introduce img{
    width: 180px;
    height: 245px;
}

.search-result .item-introduce .info{
    top:0px;
    left: 200px;
    height: 245px;
}

 .search-result .left-area p{
    padding-bottom: 6px;
    font-size: 15px;
}
.search-result .small-intro{
    line-height: 22px;
    height: 95px;
    overflow-y: auto;
}